$blue: #228be6; //주석!
$graph2: #eebefa;
$violet2: #d0bfff;

.Button {
  display: inline-flex; //flex-frog
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.small {
    height: 1.75rem;
    padding-top: 0.25rem;
    font-size: 0.875rem;
  }

  &.medium {
    height: 2.25rem;
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  &.large {
    height: 3rem;
    padding-top: 0.75rem;
    font-size: 1.25rem;
  }

  padding-left: 1rem;
  padding-right: 1rem;

  //코드의 반복성을 줄이기 위한 scss
  @mixin button-color($color) {
    background: $color;
    &:hover {
      background: lighten($color, 10%);
    }
    &:active {
      background: darken($color, 10%);
    }
    &.outline {
      color: $color;
      background: none;
      border: 1px solid $color;
      &:hover {
        color: white;
        background: $color;
      }
    }
  }

  &.blue {
    @include button-color($blue);
  }
  &.violet2 {
    @include button-color($violet2);
  }
  &.graph2 {
    @include button-color($graph2);
  }

  //& <-- 자기 자신을 가르킴
  & + & {
    margin-left: 1rem;
  }

  &.fullWidth {
    width: 100%;
    justify-content: center; //가운데 정렬하겠다. inline-flex를 사용할때만 가능하다
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

// .Button + .Button {
//   margin-left: 1rem;
// }
